.TodoList {
  ol {
    display: flex;
    flex-direction: column;

    .listItem {
      display: flex;
      justify-content: space-between;
      background: cadetblue;
      padding: 10px;
      margin-top: 5px;
      font-weight: bold;
  
      &.taskIsDone {
        order: 1;
        background: darkgreen;
        text-decoration: line-through;
      }
    }
  }
}